<h2>🚚 Delivery Update</h2>

<p>Hello <b><%= name %></b>,</p>

<p>Your order <b>#<%= orderId %></b> status:</p>

<h3 style="color:green;"><%= status %></h3>

<p><b>Delivery Details:</b></p>

<ul>
  <li><b>Address:</b> <%= address %></li>
  <li><b>Driver:</b> <%= driverName %></li>
  <li><b>Vehicle:</b> <%= vehiclePlate %></li>
</ul>

<p>Thank you for using TransLogix </p>